:root {
  --page-width-header: 1090px;
  --page-width: 1040px;
  --title-color: #080236; 
  --primary-color: #0BA085;
  --primary-color-hover: #0a8d75;
  --section-primary-color: #FBFAF4;
  --secondary-color: #DFEFF2;
}