:root {
  --page-width-header: 1090px;
  --page-width: 1040px;
  --title-color: #080236;
  --text-color: #C0C0C0;
  --primary-color: #0BA085;
  --section-primary-color: #FBFAF4;
  --secondary-color: #DFEFF2;
}